/* General settings */

html {
  font-size: 8px;
}

h5 {
  font-size: 2rem;
}

h3 {
  font-size: 4rem;
}

/* Small elements */

.beat :nth-child(4n + 1) {
  background-color: #546a78;
}
.beat :nth-child(4n + 1):hover {
  background-color: #748e9f;
}

.sound_box {
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}

/* This is how to select an element with two classes */
div.sound_box.active {
  background-color: green;
}

.instrument {
  border-radius: 1rem;
  width: 8rem;
  height: 5rem;
  background-color: #5b6065;
}

.sound_box {
  background-color: #5b6065;
}

/* Hover */

.instrument:hover {
  background-color: #7d8389;
}

.sound_box:hover {
  background-color: #7d8389;
}

/* Bigger containers */

#beat_board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: auto;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: max-content;
}

.beat {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#time_scale {
  text-align: center;
  align-content: center;
  gap: 0.5rem;
  background-color: #5b6065;
  border-radius: 1rem;
}

#time_scale > * {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  font-family: "Roboto";
}

.time_scale {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
